.slider-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

img {
	width: 400px;
	height: 600px;
	/* border: 1px solid #ccc; */
	border-radius: 8px;
	margin: 16px;
}

button {
	font-size: 55px;
	background-color: transparent;
	color: #fff;
	border: none;
	cursor: pointer;
	outline: none;
}

.btn1{
	position: absolute;
	left: 400px;
	top: 240px;
}

.btn2{
	position: absolute;
	right: 400px;
	top: 240px;
}

